# Logging
LOG_LEVEL=DEBUG

# Database configuration
DB_USER=postgres
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
DB_NAME=bowling_physics_orchestrator
DB_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Queue configuration
QUEUE_PASSWORD=
QUEUE_HOST=queue
QUEUE_PORT=6379
QUEUE_NAME=bowling_physics_queue

# Secret key for use in auth token generation and validation
# make your own: `openssl rand -hex 32`
USER_SECRET_KEY=